<nav>
  <ul class="nav-list">
    <li class="nav-item"><a href="/posts">Blog on Rails</a></li>
    <li class="nav-item"><a href="/posts">Home</a></li>
    <li class="nav-item"><a href="/posts/new">New Post</a></li>    
  </ul>
</nav>